.mui-bar-nav{
	background-color:#2695ef;
}
.gooodstitle{
	background-color: #fff;
	padding: 10px;
}
.gooodstitle p{
	margin: 0;
	line-height: 15px;
	color:#000;
	font-size: 12px;
}
.gooodstitle p.pirce{
	margin-bottom: 8px;
	font-size: 16px;
	color:red;
}
.gooodsinfo{
	background-color: #fff;
	padding: 10px;
	margin: 10px 0;
}
.gooodsinfo p{
	margin: 0;
	line-height: 15px;
}
.gooodsinfo div{
	line-height: 15px;
}
.gooodsinfo p.title{
	margin-bottom: 8px;
}
.mui-bar-tab button {
	border-radius: 0px;
	font-size: 14px !important;
	height: 50px;
	line-height: 50px;
	
}
.mui-bar-tab button.mui-btn {
	
	margin-top: -10px;
}
.mui-bar-tab button .mui-icon{
	font-size: 20px;
}
.mui-bar-tab button .fa{
	font-size: 24px;
}
.mui-bar-tab button.mui-btn-blue{
	background-image: linear-gradient(to right,#ffca00,#ff9502);
	border: 0px solid #007aff;
}
.mui-bar-tab button.mui-btn-red{
	background-image: linear-gradient(to right,#ff7000,#fc4b1a);
	border: 0px solid #007aff;
}
.mui-bar .mui-btn-block{
	padding: 0;
}
.mui-slider{
	max-height:300px;
}

.banner div a{
	display: inline-block;
	width: 100%;
}
.banner div a img{
	width: 100%;	
}
.content ul{
	padding-top: 10px;
}
.content li{
	width: 100%;
}
.content li img{
	width: 100%;
}
