.mui-bar-nav{
	background-color:#2695ef;
}
.mui-search input[type="search"]{
	background-color: #fff;
	border-radius: 15px;
}
.mui-content-nav {
	overflow: hidden;
	background: #fff;
	padding: 0 4%;
}
.mui-search .mui-placeholder {
	top: 5px!important;
}
.mui-content-nav li{
	width: 33.333%;
	float:left;
	text-align: center;
	margin: 10px 0;
	font-size: 14px;
	position: relative;	
}
.mui-content-nav li.on {
	font-weight: bold;
}
.mui-content-nav li.on div{
	width: 100%;
	position: absolute;
	border-bottom: 3px solid red;
	bottom:-10px;
	
}
/* .mui-content-nav li:nth-child(2){
	border-left: 1px solid #ccc;	
}
.mui-content-nav li:nth-child(3){
	border-left: 1px solid #ccc;	
} */
.mui-content .fastnav{
	overflow: hidden;
	background-color: #fff;
}
.mui-content .fastnav li{
	width: 20%;
	float:left;
	text-align: center;
	margin: 10px 0;
	font-size: 14px;
}
.mui-content .fastnav li p{
	padding: 0;
	margin: 0;
	color: #000;
	line-height: 15px;
}
.mui-content .fastnav li p span{
	font-size: 12px;
}
.mui-content .fastnav li img{
	width: 40px !important;
}
.mui-content .ad{
	line-height: 12px;
}
.mui-content .ad img{
	width: 100%;
}

.mui-slider-indicator .mui-control-item{
	line-height: 40px;
	padding-top: 3px;
}
.p-list ul{
	overflow: hidden;
	margin:0 5px;
	margin-top: 10px;
	
}
.p-list li{
	float: left;
	overflow: hidden;
	width: 50%;
	margin-bottom: 10px;	
}
.p-list li .p-content{
	margin: 0 5px;
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
}
.p-list li .p-content img{
	width: 100%;
}
.p-content-title{
	padding: 0 10px;
	height: 45px;
	line-height: 18px;
}
.p-content-title span{
	font-size: 12px;
}
.p-content-price{
	overflow: hidden;
	width: 100%;
	padding: 0 10px;
	margin-bottom: 10px;
}
.p-content-price .pull-l{
	color: red;
}
.p-content-price .pull-r button{
	color: red;
	border: 1px solid red;
	border-radius: 2px;
	padding: 1px 5px;
	font-size: 12px;
}


.mui-slider-item{
	border: 0px !important;
}
.mui-table-view{
	background-color: #efeff4;
}
.p-content-price .pull-l{
	color: red;
	margin-top: 3px;
}
.p-content-price .pull-r{
	text-align: center;
}
.p-content-price .pull-r span{
	background: red;
	border: 1px solid red;
	border-radius: 12.5px;
	height: 23px;
	width: 23px;
	font-size: 18px;
	font-weight: 550;
	color:#fff;
	padding-top:2px ;

}
.p-content-price .pull-r button{
	color: red;
	border: 1px solid red;
	border-radius: 2px;
	padding: 1px 5px;
	font-size: 12px;
}
.price-select {
    z-index: 50;
    position: fixed;
	top: 44px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eee;
	display: flex;
}
.price-select .item {
    -webkit-flex: 1;
    flex: 1;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #666;
}
.price-select .item .icon {
    display: inline-block;
    width: 10px;
    height: 12px;
    background-image: url(../images/gc-icon.png);
    background-size: 160px auto;
    background-repeat: no-repeat;
    background-position: -50px 0;
    vertical-align: -1px;
    margin-left: 6px; 
}
.layout-vertical {
    width: 66px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.layout-vertical span {
    display: inline-block;
    width: 18px;
    height: 20px;
    background-image: url(../images/gc-icon.png);
    background-size: 160px auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: -4px;
}
.layout-vertical.on span {

    background-position: 0 -61px;
}
.price-select .item.on{
	/* background: #efeff4;
	border-top-left-radius:5px;
	border-top-right-radius:5px; */
	color: #D03030;
	font-weight: bolder;
}
.price-select .item.selected-down .icon {
    background-position: -100px 0;
}
.price-select .item.selected-up .icon {
    /* background-position: -150px 0; */
    background-position: 0 -62.5px;
}
.vertical .p-content{
	padding: 10px 0;
	padding-left: 10px;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction:row;
}

.vertical li .imgsize{
	float: left;
	width: 100px;
	height: 100px;
	flex-shrink:0;
}
.vertical .p-content-title{
	padding-left: 10px;
	float: left;

}
.vertical .p-content-price{
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding-left: 120px;
}
