<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>设 置</title>
	<link href="css/mui.min.css" rel="stylesheet" />
	<link href="css/app.css" rel="stylesheet"/>
	<link href="css/setting.css" rel="stylesheet" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/city.data-3.js" type="text/javascript" charset="utf-8"></script>
<style>
	.mui-table-view-cell{
		padding:10px 3px;
	}
</style>
</head>
<body>
	<div id="app" v-cloak >	
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-left-nav mui-pull-left" onclick="goback()"></a>
			<h1 class="mui-title" style="right: 80px;left: 80px;">我的收货地址</h1>
			<a class="mui-pull-right" style="height: 44px;line-height: 44px;float: right;" id="addaddress">添加新地址</a>
		</header>
		<div class="mui-page-content  mui-scroll-wrapper" style="padding: 0;">
			<div class="mui-scroll" style="min-height: 100%;">
				<div style="min-height: 100%;">
					<div class="nosta" v-if="address.length==0">
						<img src="picture/nosta.png" alt="">
					</div>

					<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" v-if="address.length!=0">
					    <li class="mui-table-view-cell" v-for="item,index in address">
					        <div class="mui-table align-items-center">
								<div class="mui-table-cell mui-col-xs-2 mui-text-center">
								    <span class="cell-left" v-text="item.first_str"></span>
								</div>
					            <div class="mui-table-cell mui-col-xs-8">
									<div class="cell-mid-a">
										<div class="mui-ellipsis mui-h4 mgr-1" v-text="item.cname"></div>
										<div class="mui-h6 mui-ellipsis" v-text="item.mobile"></div>
									</div>
									<div class="cell-mid-b">
										<span class="default mgr-1" v-if="item.default==1">默认</span>
										<span class="address" v-text="item.address"></span>
									</div>
					            </div>
					            <div class="mui-table-cell mui-col-xs-2 mui-text-right">
					                <span class="mui-h5 cell-right editaddress" :data-id="index">编辑</span>
					            </div>
					        </div>
					    </li>
					    
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</body>
<script>
	
	(function($, doc) {
	    $.init({
	        swipeBack: true //启用右滑关闭功能
	    });
		
	    var app = new Vue({
	        el: '#app',
	        data: function() {
	            return {
	                address: []
	            }
	        },
	        mounted: function(){
	            this._init();
	        },
	        methods: {
	            _init: function(){
					var that = this;
					
					$('.mui-scroll-wrapper').scroll({
						deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
					});
					$('.mui-scroll-wrapper').scroll().scrollTo(0,0,100);//100毫秒滚动到顶
					
	                $.plusReady(function() {
						addressRequired(function(result){
							var address=result['data']['address'];
							for (i = 0; i < address.length; i++) { 
								address[i]['address'] = getNameByCode(address[i]['cityid'])+" "+address[i]['address'];
								address[i]['aid'] = address[i]['id'];
							}
							that.address=result['data']['address'];
							afterOpenView();
						}) 		
						
						doc.getElementById("addaddress").addEventListener('tap',function(even){
							loginRequired(function(){
								openView('addaddress.html', 'addaddress');
							})
						})
						
						$("body").on("tap", ".editaddress", function() {
							var that = this;
							var index = that.dataset.id;
							var addresobj = app.address[index];
							openView('editaddress.html', 'editaddress',addresobj);		
						})
						
						
						window.addEventListener('refresha', function(e) {  
							addressRequired(function(result){
								var address=result['data']['address'];
								for (i = 0; i < address.length; i++) { 
									address[i]['address'] = getNameByCode(address[i]['cityid'])+" "+address[i]['address'];
									address[i]['aid'] = address[i]['id'];
								}
								that.address=result['data']['address'];
								
								var currentView = plus.webview.currentWebview();
								
								if(plus.webview.getWebviewById("editaddress")){
									plus.webview.getWebviewById("editaddress").hide();
								}
								if(plus.webview.getWebviewById("addaddress")){
									plus.webview.getWebviewById("addaddress").hide();
								}

							}) 		  
						})  
	               });
	            }
	        }
	    });
	}(mui, document))


</script>
</html>