<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>商场</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/shopcity.css" />
		<link rel="stylesheet" href="css/mui-icons-extra.css" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/lib/artTemplate.js"></script>
		<script type="text/javascript" src="js/lib/common.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<style>
			.mui-icon-clear{
				top: 13px!important;
			} 
		</style>
	</head>
	<body>
		<div class="mui-content mui-scroll-wrapper" id="pullrefresh" v-cloak>
			<header class="mui-bar mui-bar-nav">
				<div class="mui-input-row mui-search">
					<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="addaddress" onclick="goback()"></a>
					<h1 class="mui-title" style="right: 40px;left: 40px;">
						<input type="text" class="mui-input" placeholder="搜索商品" v-model="search.keyword" style="height: 35px;line-height:40px;color:#000;border-radius: 20px;border: none;">
					</h1>
					<a class="mui-icon mui-icon-search mui-pull-right"></a>
				</div>
			</header>
			<div class="price-select flex">
				<div class="item" :class="{ on:search.priceOrder =='' && search.salesOrder == ''}" @tap="changeDefault">默认</div> 
				<div class="item" :class="{'selected-up':search.priceOrder == 'asc','selected-down':search.priceOrder == 'desc','on':search.priceOrder!=''}" @tap="changePriceOrder">价格<i class="icon"></i></div> 
				<div class="item" :class="{'selected-up':search.salesOrder == 'asc','selected-down':search.salesOrder == 'desc','on':search.salesOrder!=''}" @tap="changeSalesOrder">销量<i class="icon"></i></div> 
				<div class="layout-vertical" :class="{on:vertical != true}" @tap="vertical = !vertical">
					<span></span>
				</div>
			</div>
			<div class="mui-slider mui-scroll"  style="margin-top: 94px;">
				<div class="mui-slider-group" id="contentbar">
					<div id="item1" class="contentbarson mui-slider-item mui-control-content ">
						<div class="mui-table-view">
							<div class="p-list" :class="{vertical:vertical == true}">
								<ul>
									<li v-for="good in goods">
										<div class="p-content">
											<div>
												<img :src="good.img">
											</div>
											<div class="p-content-title">
												<span>{{good.goodsname}}</span>
											</div>
											<div class="p-content-price">
												<span class="pull-l" v-if="search.shop==3">￥{{good.moneyprice}}</span>
												<span class="pull-l" v-if="search.shop==2">{{good.integralprice}}积分</span>
												<span class="pull-l" v-if="search.shop==1">{{good.goldprice}}金铢</span>
												<span class="pull-r"><span class="mui-icon mui-icon-extra mui-icon-extra-cart" :data-goodsid="good.id"></span></span>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>			
			</div>
			<a style="display:none;" href="javascript:;"  id="gotop"  title="回到顶部"></a>
		</div>
		
		<script type="text/javascript">
			(function($, doc) {
				var app = new Vue({
					el: '#pullrefresh',
					data: function() {
						return {
							vertical:false,
							goods: [],
							search:{
								goodsid:'',
 								catg1:'', 
								catg2:'',
								catg3:'',
								shop:getShop(),
								priceOrder:'',
								salesOrder:'',
								news:0,
								keyword:''
							},
							loaded:false,
							pageParam:{
								page:1,
								loaded:false
							}
						}
					},
					mounted: function() {
						this._init();
					},
					watch:{
						search:{
							handler:function(v){
								this.loadData();
							},
							deep:true
						}
					},
					methods: {
						_init: function() {
							var that = this;

							$.plusReady(function() {							
								toTop();
								that.loadData();
                                afterOpenView();
							})
						},
						changeDefault:function () {
							this.search.salesOrder = '';
							this.search.priceOrder = '';
						},
						changeSalesOrder:function(){
							if(this.search.salesOrder == '')
								this.search.salesOrder = 'desc';
							else if(this.search.salesOrder == 'desc')
								this.search.salesOrder = 'asc';
							else if(this.search.salesOrder == 'asc')
								this.search.salesOrder = 'desc';
							this.search.priceOrder = '';
						},
						changePriceOrder:function(){
							if(this.search.priceOrder == '')
								this.search.priceOrder = 'desc';
							else if(this.search.priceOrder == 'desc')
								this.search.priceOrder = 'asc';
							else if(this.search.priceOrder == 'asc')
								this.search.priceOrder = 'desc';
							this.search.salesOrder = '';
						},
						pulldownRefresh: function() {
							this.loadData();
							
						},
						pullupRefresh: function(){
							this.loadData(1);
						},
						loadData: function(type=0) {
							
// 							if(this.loading) return;
							var that = this;
// 								pageParam = that.pageParam;
// 							if(pageParam.loaded) return ;
// 							this.loading = true;
							
							var url = postUrl + "Home/goods/seachGoods.html";
							if(type==0){
								this.pageParam.page=1;
							}else{
								this.pageParam.page++;
							}
							var postData = {
								goodsid:0,
								sellnumorder:this.search.priceOrder || 0,
								pricenumorder:this.search.salesOrder || 0,
								keyword:this.search.keyword || " ",
								catg3:appPage.getParam("cid"),
								page:this.pageParam.page,
							};
							
							log(postData);
							diyAjax(url,postData,function(result){
								console.log("获取商品信息");
								if(result.code == 1){
									if(type==0){
										that.goods = result['data'];
										appPage.endPullRefresh();
									}else{
										that.goods = that.goods.concat(result['data']);
										if(result.data.length<pagenum){
											appPage.endPullRefresh(true);
										}
										mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
									}
									
									afterOpenView();
								}
							},function(xhr){
								console.log("失败"+JSON.stringify(xhr));
							})								
							
						}
					}
				});

				$.init({
					pullRefresh: {
						container: '#pullrefresh',
						down: { //下拉刷新
							callback: app.pulldownRefresh,
							style: $.os.android ? "circle" : "default"
						},
						up: {
							contentinit: '',
							contentrefresh: '正在加载...',
							contentnomore:'没有更多了',
							callback: app.pullupRefresh
						}
					}
				});


			}(mui, document))
		</script>
	</body>
</html>
