<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>商品分类</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/app.css" />
		<link rel="stylesheet" href="css/mui-icons-extra.css" />
		<link rel="stylesheet" href="css/goodsclass.css" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/mui.min.js"></script>
	    <script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<style>
			.mui-row.mui-fullscreen>[class*="mui-col-"] {
				height: 100%;
				background: #fff;
			}

			.mui-col-xs-3,
			.mui-control-content {
				overflow-y: auto;
				height: 100%;
			}

			.mui-segmented-control .mui-control-item {
				line-height: 50px;
				width: 100%;
			}

			.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
				background-color: #fff;
			}
		</style>
	</head>
	<body>
	<div id="app">

		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">商品分类</h1>
		</header>
		<div class="mui-content mui-row mui-fullscreen">
			<div class="mui-col-xs-3">
				<div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical">
					<a class="mui-control-item mui-active" v-for="(classdata,index) in classdatas" :href="'#content'+index" v-if="index==0">
						<p>{{classdata.name}}</p>
					</a>
					<a class="mui-control-item" v-for="(classdata,index) in classdatas" :href="'#content'+index" v-if="index!=0">
						<p>{{classdata.name}}</p>
					</a>
				</div>
			</div>
			<div id="segmentedControlContents" class="mui-col-xs-9" style="background:#efeff4 ;">
				<div class="mui-control-content mui-active" v-for="(classdata,index) in classdatas" :id="'content'+index">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell" v-for="(cclassdata,index) in classdata.children">
							<span>{{cclassdata.name}}</span>
							<ul class="imglist" style="padding: 0;">
								<li v-for="(rcclassdata,index) in cclassdata.children" style="padding-top: 15px;">
									<img :src="rcclassdata.img">
									<span>{{rcclassdata.name}}</span>
								</li>
							</ul>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
		<script>
			(function($, doc) {
				var app = new Vue({
					el: '#app',
					data: function() {
						return {
							classdatas: []
						}
					},
					mounted: function(){
						this._init();
					},
					methods: {
						_init: function(){
							var that = this;
							$.plusReady(function() {
								that.loadData();
								
// 								var controls = document.getElementById("segmentedControls");
// 								var contents = document.getElementById("segmentedControlContents");
// 								
// 								//默认选中第一个
// 								controls.querySelector('.mui-control-item').classList.add('mui-active');
// 								contents.querySelector('.mui-control-content').classList.add('mui-active');
								
								afterOpenView();	
							})
						},
						loadData:function(){
							var that = this;
							var url = postUrl+"Home/goods/categoryList.html";
							var postData = {};
							diyAjax(url,postData,function(result){
								console.log("获取分类信息");
								if(result.code == 1){
									that.classdatas = result.data;
								}
							},function(xhr){
								console.log("失败"+JSON.stringify(xhr));
							})	
						},
					}
				});
				
				$.init({
					swipeBack: true //启用右滑关闭功能
				});		
			}(mui, document))
		</script>
	</body>

</html>
