<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>确认订单</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="css/mui.min.css"/>
	<link rel="stylesheet" href="css/mynb.cn.css" />
	<link rel="stylesheet" href="css/app.css" />
	<link rel="stylesheet" href="css/confirm.css" />
	<link rel="stylesheet" href="css/shopcity.css" />
	<link rel="stylesheet" href="css/mui-icons-extra.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/lib/artTemplate.js"></script>
	<script type="text/javascript" src="js/lib/common.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script src="js/city.data-3.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
	<div id="app" v-cloak>
		<header class="mui-bar mui-bar-nav">
			<div class="mui-input-row mui-search">
				<a class="mui-icon mui-icon-left-nav mui-pull-left" onclick="stback()" style="color: #fff;"></a>
				<h1 class="mui-title" >
					订单详情
				</h1>
			</div>
		</header>
		<div style="margin-top: 44px;margin-bottom: 54px;">
			<div class="coc-header send clearfix" v-if="orderinfo.status==1">
				<div class="logistics-state state-nfh fl"></div> 
				<div class="logistics-info fr">
					<div class="logistics-info-txt">
						<p>待发货</p> 
						<span>商家未发货,请耐心等待</span>
					</div>
				</div>
			</div>
			<div class="coc-header send clearfix" v-if="orderinfo.status==2"><div class="logistics-state state-ysh fl"></div> <div class="logistics-info fr"><div class="logistics-info-txt"><p>待收货</p> <span>{{orderinfo.posttime}}服务商已发货</span></div></div></div>
			<div class="coc-header send clearfix" v-if="orderinfo.status==3"><div class="logistics-state state-ytk fl"></div> <div class="logistics-info fr"><div class="logistics-info-txt"><p>交易完成</p> <span>交易完成,感谢您的支持</span></div></div></div>
			<div class="coc-header send clearfix" v-if="orderinfo.status==0"><div class="logistics-state state-nobuy fl"></div> <div class="logistics-info fr"><div class="logistics-info-txt"><p>待付款</p> <span>交易未付款，请尽快付款</span></div></div></div>
			<div class="coc-header send clearfix" v-if="orderinfo.status==-1"><div class="logistics-state state-cancel fl"></div> <div class="logistics-info fr"><div class="logistics-info-txt"><p>交易取消</p> <span>交易已取消</span></div></div></div>
			<div class="address item-block" style="padding: 0;">
				<div class="list-son " style="width: 100%;">
					<div class="list-son-show">
						<div class="img">
							<span class="fa fa-map"></span>
						</div>
						<div class="atc">
							<p>
								<span class="cname">{{address.cname}}</span>
								<span>{{address.mobile}}</span>
							</p>
							<span >{{address.address}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="item-block product-info">
				<div class="con-tit">产品信息</div> 
				<div class="delivery-con">
					<ul>
						<li v-for="good in orderinfo.goods">
							<a href="javascript:void(0);" class="flex">
								<div class="picture">
									<img :src="good.img">
								</div> 
								<div class="info-centent flex">
									<p class="name">{{good.goodsname}}</p> 
									<!-- <p class="description">黑色</p> -->
									<p class="count">
										<span v-if="orderinfo.type==3">￥{{good.money}}</span> 
										<span v-if="orderinfo.type==2">{{good.money}}积分</span> 
										<span v-if="orderinfo.type==1">{{good.money}}金铢</span> 
										X{{good.number}}
									</p>
								</div>
							</a>
						</li>

					</ul>
				</div> 
				<div class="all-price">
					<div class="infos">
						<p>商品总价 <span v-if="orderinfo.type==3" class="fr">￥{{orderinfo.money}}</span> 
								<span v-if="orderinfo.type==2" class="fr">{{orderinfo.money}}积分</span> 
								<span v-if="orderinfo.type==1" class="fr">{{orderinfo.money}}金铢</span></p>
					</div> 
					<div class="all-count">实付款 <span v-if="orderinfo.type==3" class="fr">￥{{orderinfo.money}}</span> 
								<span v-if="orderinfo.type==2" class="fr">{{orderinfo.money}}积分</span> 
								<span v-if="orderinfo.type==1" class="fr">{{orderinfo.money}}金铢</span>
					</div>
				</div>
			</div>
			<div class="item-block delivery-infos">
				<div class="con-tit">订单信息</div> 
				<div class="delivery-con">
					<ul>
						<li>订单编号：{{orderinfo.ordersn}}</li> 
						<li>下单时间：{{orderinfo.addtime}}</li> 
						
						<li v-if="orderinfo.type==3">支付方式：余额支付</li> 
						<li v-if="orderinfo.type==2">支付方式：积分支付</li> 
						<li v-if="orderinfo.type==1">支付方式：金铢支付</li> 
						
						<li v-if="orderinfo.status==0">支付状态：待支付</li> 
						<li v-if="orderinfo.status>0">支付状态：已支付</li> 

						<li v-if="orderinfo.paytime!=null">支付时间：{{orderinfo.paytime}}</li>
						<li v-if="orderinfo.posttime!=null">发货时间：{{orderinfo.posttime}}</li>
						<li v-if="orderinfo.suretime!=null">确定时间：{{orderinfo.suretime}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="order-con-btn">
			<a href="javascript:void(0);" class="payment" v-if="orderinfo.status==0" @tap="payOrder(orderinfo)">立即付款</a>
			<a href="javascript:void(0);" class="payment" v-if="orderinfo.status==2">立即收货</a>
			<a href="javascript:void(0);" class="payment" v-if="orderinfo.status==3">再来一单</a>
		</div>
	</div>
	<script type="text/javascript">
		(function($, doc) {
			var app = new Vue({
				el: '#app',
				data: function() {
					return {
						shop:'',
						orderinfo:'',
						address:''
					}
				},
				mounted: function(){
					this._init();
				},
				methods: {
					_init: function(){
						var that = this;
						$.plusReady(function() {
							
							// 加载收货地址
							that.loadData();
						})
					},
					payOrder:function(orderlist){
						var url=postUrl+"Home/order/submitOrder.html";
						var postData = {
							'orderid': orderlist.id,
							'shop':orderlist.type,
						};
						
						sureMessage("确定提交订单",function(){	
							var data={};
							data["url"]=url;
							data["postData"]=postData;
							data["type"]=1;

							// 支付密码验证
							localStorage.setItem('$pwdPost', JSON.stringify(data));
							beforeOpenView("payCode.html","payCode.html");
						});	
					},
					
					loadData:function(){
						var oid = appPage.getParam('oid');
						var that = this;
						var url = postUrl+"Home/order/orderInfo.html";
						var postData = {
							"orderid":oid
						};	
						diyAjax(url,postData,function(result){
							console.log("获取订单详细信息");
							if(result.code == 1){
								that.shop = result.data.type;
								that.orderinfo = result.data;	
								that.address = JSON.parse(result.data.address);
								log(that.orderinfo);
								
							}else{
								showMessage(result.msg);
							}
							afterOpenView();	
						},function(xhr){
							console.log("失败"+JSON.stringify(xhr));
						})	
						// 保存商品类型
// 										
						
					}
				}
			});
			$.init({

			});
		}(mui, document))
	</script>
</body>
</html>