<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>商场</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="css/mui.min.css"/>
	<link rel="stylesheet" href="css/app.css" />
	<link rel="stylesheet" href="css/shopcity.css" />
	<link rel="stylesheet" href="css/mui-icons-extra.css" />
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/lib/artTemplate.js"></script>
	<script type="text/javascript" src="js/lib/common.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>

</head>
<body>
	<div class="mui-content mui-scroll-wrapper" id="pullrefresh" v-cloak >
		<header class="mui-bar mui-bar-nav">
			<div class="mui-input-row mui-search">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="addaddress" onclick="goback()"></a>
				<h1 class="mui-title" style="right: 40px;left: 40px;">
					<input type="search" class="mui-input-clear" placeholder="搜索商品">
				</h1>
				<a class="mui-icon mui-icon-search mui-pull-right" onclick="goback()"></a>
			</div>
		</header>
		<div class="mui-slider mui-scroll" style="margin-top: 44px;">
			<!-- <div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" id="navbar">
				<a class="mui-control-item mui-active " href="#item1">现金商城</a>
				<a class="mui-control-item " href="#item2">积分商城</a>
				<a class="mui-control-item" href="#item3">金珠商城</a>
			</div> -->
			<!-- <div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div> -->
			<div class="mui-slider-group" id="contentbar">
				<div id="item1"  class="contentbarson mui-slider-item mui-control-content " >
					<div class="mui-table-view">
						<div id="slider" class="mui-slider banner" >
						  <div class="mui-slider-group mui-slider-loop">
							<div v-for="(banner,index) in banners" class="mui-slider-item mui-slider-item-duplicate" v-if="index=banners.length">
							  <a href="#">
								<img :src="banner.img">
							  </a>
							</div>
							<div v-for="(banner,index) in banners" class="mui-slider-item">
							  <a href="#">
								<img :src="banner.img">
							  </a>
							</div>
							<div v-for="(banner,index) in banners" class="mui-slider-item mui-slider-item-duplicate" v-if="index==0">
							  <a href="#">
								<img :src="banner.img">
							  </a>
							</div> 
							<!-- <div class="mui-slider-item mui-slider-item-duplicate">
							  <a href="#">
								<img src="http://api.tongwujie.cn/public/uploads/20190618/56c66d19aec9816b874b374bb66c24af.png">
							  </a>
							</div>
							<div class="mui-slider-item">
							  <a href="#">
								<img src="http://api.tongwujie.cn/public/uploads/20190618/41b7c9fdd3d5d6d700df653feebc3c73.png">
							  </a>
							</div>
							<div class="mui-slider-item">
							  <a href="#">
								<img src="http://api.tongwujie.cn/public/uploads/20190618/1157f1cc57d02fc66d5a7ebc88086c22.png">
							  </a>
							</div>
							<div class="mui-slider-item">
							  <a href="#">
								<img src="http://api.tongwujie.cn/public/uploads/20190618/56c66d19aec9816b874b374bb66c24af.png">
							  </a>
							</div>
							<div class="mui-slider-item mui-slider-item-duplicate">
								<a href="#">
									<img src="http://api.tongwujie.cn/public/uploads/20190618/41b7c9fdd3d5d6d700df653feebc3c73.png">
								</a>
							</div> -->
						</div>
							
						  <!-- <div class="mui-slider-indicator">
							    <div v-for="(banner,index) in banners" class="mui-indicator mui-active" v-if="index==0">
							    </div>
							    <div v-for="(banner,index) in banners" class="mui-indicator" v-if="index!=0">
							    </div>
						   </div> -->
						</div>
						<div class="fastnav">
						  <ul>
						  	<li v-for="list in lists">
								<img :src="list.img" >
								<p><span>{{list.text}}</span></p>
							</li>
						  </ul>
						</div>
						<div class="ad">
							<img src="picture/02.png" >
						</div>
						<div class="p-list">
							<ul>
								<li v-for="good in goods" >
									<div class="p-content" @tap="oppenshow(good)">
										<div><img :src="good.img"></div>
										<div class="p-content-title">
											<span>{{good.goodsname}}</span>
										</div>
										<div class="p-content-price">
											<span class="pull-l" v-if="shop==3">￥{{good.moneyprice}}</span>
											<span class="pull-l" v-if="shop==2">{{good.integralprice}}积分</span>
											<span class="pull-l" v-if="shop==1">{{good.goldprice}}金铢</span>
											<span class="pull-r" style="font-size: 10px;margin-top: 4px;" v-if="good.isshowsell==1">已售:{{good.sells}}件</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- <div id="item2"  class="contentbarson mui-slider-item mui-control-content  " >
					<div class="mui-table-view">
						暂无数据
					</div>
				</div>
				<div id="item3"  class="contentbarson mui-slider-item mui-control-content">
					<div class="mui-table-view">
						暂无数据
					</div>
				</div> -->
			</div>
		</div>
	</div>

<script type="text/javascript">
	(function($, doc) {
		var app = new Vue({
			el: '#pullrefresh',
			data: function() {
				return {
					page:1,
					shop:getShop(),
					banners: [],
					lists: [],
					goods:[],
				}
			},
			mounted: function(){
				this._init();
			},
			updated: function() {
                var sliderMuiObj = mui("#slider");
                sliderMuiObj.slider({
                    interval: 3000
                });
            },
			methods: {
				_init: function(){
					var that = this;
					
					$.plusReady(function() {	
						that.loadData();	
					})
				},
				//跳转详情页
				oppenshow: function(good) {
					beforeOpenView("goodsinfo.html","goodsinfo.html",{data:good});
				},
				pulldownRefresh: function(){
					this.loadData();
					appPage.endPullRefresh();
				},
				pullupRefresh: function(){
					var that = this;
					var url = postUrl+"Home/goods/seachGoods.html";
					
					that.page++;
					var postData = {
						"page":that.page,
						"shop" :that.shop
					};
					diyAjax(url,postData,function(result){
						console.log("获取商品信息");
						if(result.code == 1){
							
							that.goods=that.goods.concat(result.data);
							if(result.data.length<pagenum){
								appPage.endPullRefresh(true);
							}
							mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
						}
					},function(xhr){
						console.log("失败"+JSON.stringify(xhr));
					})	
				},
				loadData:function(){
					var that = this;
					var url = postUrl+"Home/goods/seachGoods.html";
					var shop = getShop();
					var postData = {
						"page":1,
						"shop" :that.shop
					};
					diyAjax(url,postData,function(result){
						console.log("获取商品信息");
						if(result.code == 1){
							log(result.data);
							that.goods=result.data;
							that.page=1;
							
							var results = {
								data:{
									banner:[{
										img:"http://api.tongwujie.cn/public/uploads/20190618/41b7c9fdd3d5d6d700df653feebc3c73.png",
										url:"#",
									},{
										img:"http://api.tongwujie.cn/public/uploads/20190618/41b7c9fdd3d5d6d700df653feebc3c73.png",
										url:"#",
									},{
										img:"http://api.tongwujie.cn/public/uploads/20190618/41b7c9fdd3d5d6d700df653feebc3c73.png",
										url:"#",
									}],
									list:[{img:"http://api.tongwujie.cn/public/uploads/20190618/41b7c9fdd3d5d6d700df653feebc3c73.png",url:"#",text:"素食"},{img:"http://api.tongwujie.cn/public/uploads/20190618/41b7c9fdd3d5d6d700df653feebc3c73.png",url:"#",text:"素食"},{img:"http://api.tongwujie.cn/public/uploads/20190618/41b7c9fdd3d5d6d700df653feebc3c73.png",url:"#",text:"素食"}],
									ad:{img:"",url:""},
								}
							};
							that.banners=results['data']['banner'];
							that.lists=results['data']['list'];
							afterOpenView();							
						}
					},function(xhr){
						console.log("失败"+JSON.stringify(xhr));
					})	
					
				}
			}
		});		
		$.init({
			pullRefresh: {
				container: '#pullrefresh',
				down: { //下拉刷新
					callback: app.pulldownRefresh,
					style: $.os.android ? "circle" : "default"
				},
				up: {
					contentinit: '',
					contentrefresh: '正在加载...',
					contentnomore:'没有更多了',
					callback: app.pullupRefresh
				}
			}
		});	
	}(mui, document))
</script>
	
</body>
</html>